*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#111827;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  padding:20px;
}

.auth-box{
  width:100%;
  max-width:400px;
  background:#1f2937;
  padding:30px;
  border-radius:20px;
  color:white;
}

h1{
  text-align:center;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  margin-bottom:25px;
  color:#9ca3af;
}

form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,
textarea{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  background:#374151;
  color:white;
  outline:none;
}

textarea{
  height:120px;
  resize:none;
}

button{
  padding:15px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  font-size:16px;
  cursor:pointer;
}

a{
  display:block;
  text-align:center;
  margin-top:20px;
  color:#60a5fa;
  text-decoration:none;
}

#message{
  margin-top:15px;
  text-align:center;
}